@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&family=MonteCarlo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Change la méthode de calcul de la taille des éléments, prend en compte les bordures et padding*/
    scroll-behavior: smooth; /*défilement fluide*/
    font-family: 'Montserrat', sans-serif;
}

body {
    background: linear-gradient(#ebedef, #8eb3c1);
    color: #4A4A4A; 
}



/* 1. Navigation */
nav {
    position: fixed; /*navigation reste visible si on scrolle*/
    width: 100%; /*elle occupe tout l'ecran*/
    background: rgba(255, 255, 255, 0.95); /*fond transparent*/
    padding: 15px 0; /*bordures*/
    border-bottom: 2px solid #AEC6CF; /* ligne en dessous de la navigation */
    z-index: 100; /*definit l'ordre de superposition, 1000 - tout en haut*/

    /*liens aligne au centre de la barre*/
    display: flex; 
    justify-content: center;
    align-items: center;
}

nav ul {
    display: flex;
    gap: 25px; /*espace entre les liens*/
    list-style: none; /*pas de decoration de la liste*/
}

nav a {
    text-decoration: none; /*pas de soulignements de liens par defaut*/
    color: #4A4A4A;
    font-size: 14px;
    font-weight: 600; /*epaisseur de texte*/
    position: relative; /*pour positionner la ligne bleu sous nav*/
    padding: 8px 15px; /*espaces entre les liens*/
}

/* ligne bleue en bas de chaque lien */
nav a::after { /*after - pour ajouter un element sans passer par html*/
    content: ""; /*cree un element vide sans passer par html, utilise pour la decoration*/
    position: absolute; /*positionne les lignes sans deformer le texte*/
    left: 0; /*aligne le debut de la barre a gauche et en haut*/
    bottom: 0;
    width: 0%;/*point de depart de l'animation*/
    height: 3px; /*epaisseur du trait*/
    background: #AEC6CF;
    transition: 0.4s ease-out; /*animation de la barre*/
}

nav a:hover::after { /*duo de hover+after - lien et passage entre les deux*/
    width: 100%; /*barre passe a 100% de l'ecran*/
}

/*bouton de changement de langue*/
.lang-btn {
    margin-left: 30px; /*bouton eloigne des autres*/
    background: #FFDDE2; /* Couleur d'accentuation Rose */
    color: #4A4A4A;
    padding: 7px 14px; /*bordures interieures*/
    border-radius: 20px; /*cadre arrondit*/
    border: 1px solid #FFC3CB; /* Bordure Rose */ 
    font-weight: bold;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.178); /*ombre */
    transition: 0.3s ease, transform 0.2s ease; /*transition au survol*/
}

.lang-btn:hover {
    background: #FFC3CB; /* autre couleur au survol */
}

.lang-btn::after { /*pour enlever l'animation de la fleche bleue sous le bouton*/
    display: none;
    content: none;
}



/* 2. Parametres des differentes grandes sections*/
/*espaces entre les blocs*/
.espaces {
    padding-top: 80px; /*espace du haut et du bas de chaque bloc*/
    padding-bottom: 80px;
}

/* fond blanc de chaque bloc */
.panel {
    width: 70%; /*occupe 70% de l'ecran*/
    margin: 0 auto; /*centre horizontalement*/
    padding: 50px;
    border-radius: 20px; /*coins affondis*/
    background: rgba(255, 255, 255, 0.98); /*fond blanc*/
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1); /*ombre de bloc*/
}

.panel h2 { /* parametres des grands titres */
    margin-bottom: 30px;
    font-size: 36px;
    color: #AEC6CF; 
    border-bottom: 3px solid #FFDDE2; /* Ligne Rose */
    padding-bottom: 10px;
    font-weight: 700;
}

.panel h3 { /*parametres des petits titres*/
    margin-top: 30px;
    margin-bottom: 15px;
    font-size: 24px;
    color: #4A4A4A;
}

.panel h2 i, .panel h3 i { /*icones a cote des titres*/
    margin-right: 10px;
    color: #AEC6CF; 
}




/* 3. A propos*/
.apropos-container {
    display: flex; /*aligne les elements sur une ligne*/
    align-items: center; /*elements verticalement centres */
    gap: 30px; /*espace entre la photo et le texte*/
    justify-content: center; /*centre le groupe de photo et texte au milieu*/
    margin-top: 10px;
}

/*Nom*/
.panel h1 {
    margin: 0; 
    padding: 0;
    font-size: 38px; 
    color: #4A4A4A;
}

/*logo et nom*/
.header-logo-container {
    display: flex; /*mettre la photo et nom sur la meme ligne*/
    align-items: center; /* alignement vertical au centre */
    justify-content: center; /* centre le groupe au milieu horizontalement */
    gap: 15px; /* Espace entre le logo et le nom */
    width: 100%; /* prend toute la largeur du panneau */
    margin-bottom: 25px; 
    margin-top: -20px; /*remonte le bloc vers le haut*/
    padding-top: 23px; /*espace interieur*/
}

/*logo */
.logo-header {
    width: 65px; /* Taille du logo */
    height: auto; /*garde les proportions de l'image*/
}

/*texte dans A propos*/
.apropos-texte {
    text-align: justify; /*aligne les bord du texte*/
    max-width: 600px; /*la limite de largeur*/
}

.apropos-texte p {
    margin-bottom: 10px; /*espace entre chaque parahraphe*/
}

/* Le cadre blanc pour la photo et photo*/
.photo-cadre {
    width: 250px; /*largeur et hauteur du cadre*/
    height: 350px; 
    border-radius: 15px; /*coins arrondis*/
    border: 5px solid rgb(227, 227, 227); /*bordure blanche epaisse*/
    box-shadow: 0 4px 15px rgba(0,0,0,0.1); /*une ombre transparente*/
    overflow: hidden; /*coupe ce qui depasse le cadre*/
}

.photo-cadre img {
    width: 100%; /*photo occupe 100% du cadre, sinon elle est zoomee*/
}

/*texte en bleu fonce dans A propos*/
.texte_debut{
    font-size: larger;
    color: #4d6184;
    font-weight: 700;
}



/* 4. Formation*/
/*rubriques principales dans formation et leurs parametres*/
details {
    background: #fdfdfd;
    padding: 15px 25px;
    margin: 20px 0;
    border-radius: 10px; /*coins arrondis*/
    cursor: pointer; /*change la souris au survol*/
    transition: all 0.4s ease; /*transition en ouverture*/
    border-left: 5px solid #FFDDE2; /* Ligne Rose a  gauche de la ligne */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.03); /*ombre pour decorer*/
}

details:hover{
    background: #AEC6CF; /*changement de fond au survol*/
}

details p {
    padding-top: 15px; /*espace autour de texte*/
    font-size: 16px;
    color: #667;
    margin-top: 10px;
}


details p .texte {
    padding-top: 0; /*suppression des espaces en haut*/
    margin-top: 5px;
    margin-bottom: 15px;
    display: flex; /* Permet d'aligner .titre-info et le contenu sur la même ligne */
    font-size: 15px;
    line-height: 1.5; /*taille de interligne*/
    color: #4A4A4A;
}

.texte{
    color:#667;
    text-align: justify; /*texte aligne par les deux cotes*/
}

.titre-info {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px; 
    font-weight: 700; /*texte en gras*/
    color: #AEC6CF; 
    display: block; /*texte descriptif passe a la ligne en dessous*/
    margin-bottom: 5px; /* un espace sous le titre */
}

/*titre dans chaque rubrique*/
summary {
    list-style: none; /*enleve la fleche noire par defaut*/
    font-size: 18px;
    font-weight: 600;
    color: #4A4A4A;
}

details[open] { /*etat quand le menu est ouvert*/
    background: #f6faff; /* Fond très Bleu clair lorsque ouvert */
    border-left: 5px solid #AEC6CF; /* ligne rose change pour ligne bleue a gauche */
}

summary::after {
    content: "▼"; /*ajoute un triange a droite de chaque rubrique*/
    float: right; /*le met tout a droite*/
    transition: 0.4s ease; /*animation lors de l'ouverture*/
    color: #FFC3CB;
}

details[open] summary::after {
    transform: rotate(180deg); /*tourne le triangle dans l'autre sens*/
    color: #AEC6CF;
}

/*liens vers les sites des ecoles*/
a.lien{
    text-decoration: none; /*enleve les points de liste*/
    color: #FFC3CB;
}

a.lien:hover{
    color: #5e8d9e; /*change la couleur au survol*/
}



/* 5. Competences*/
/*division en 3 cathegories: competences, qualites, langues*/
.skills-container {
    display: flex; /*structure de la page en colonnes*/
    flex-direction: column;
    gap: 25px; /* Espace entre chaque compétence */
    padding: 15px 0;
}

/*les groupes des competences*/
.skill-item p {
    font-weight: 600;
    margin-bottom: 8px;
    color: #4A4A4A;
}

/*la partie vide de la barrre*/
.skill-bar {
    width: 100%; /*prend toute la largeur de l'ecran*/
    height: 15px;
    background-color: #f0f0f0; /* Fond gris clair*/
    border-radius: 8px; /*coins arrondis*/
    overflow: hidden; /* remplissage doit pas depasser les bords arrondis */
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1); /*ombre a l'interieur de la barre*/
}

/*la partie remplie de la barre*/
.skill-level {
    height: 100%; /*hauteur comme la barre grise*/
    color: white; /* Texte en blanc pour le pourcentage */
    display: flex;
    align-items: center; /*centre le texte verticalement*/
    justify-content: flex-end; /* Texte du pourcentage à droite de la barre */
    padding-right: 10px;
    font-size: 12px;
    font-weight: bold;
    border-radius: 8px 0 0 8px; /*arrondis les cotes*/
}

/* Définition des niveaux de compétence spécifiques */
.prog-level {
    width: 60%;
    background-color: #AEC6CF; 
}

.reseaux-level {
    width: 25%;
    background-color: #5e8d9e; 
}

.syst-level {
    width: 25%;
    background-color: #FFC3CB;
}

.telecom-level {
    width: 20%;
    background-color: #AEC6CF; 
}

/*texte expliquatif pour chaque competence*/
.compets{
    font-size: smaller;
    color: #5e8d9e;
    margin-top: 15px;
    margin-bottom: 15px;
    width: 50%;
    border: #6993a255;
    border-radius: 5px;
    border-style: solid;
    text-align: justify;
    padding: 8px;
}


/* Qualites*/
.qualities-grid {
    display: flex;
    flex-wrap: wrap; /* Permet aux cartes de passer à la ligne si ya pas de place */
    justify-content: center; /* Centre les cartes horizontalement */
    gap: 25px; /* Espace entre les cartes */
    padding: 20px 0;
}

.quality-card {
    background-color: #f6faff; /* Fond légèrement bleuté */
    border: 2px solid #AEC6CF; /* Bordure Bleu Pastel */
    border-radius: 10px; /*arrondis les cotes*/
    padding: 25px;
    width: calc(33.333% - 25px); /* calcule la largeur pour mettre 3 cartes par ligne sur grand écran (100%/3 = 33.3%) */
    min-height: 200px; /* Hauteur minimale pour les cartes */
    display: flex; /*structure de la page en colonne*/
    flex-direction: column;
    align-items: center; /*centre tout le contenu*/
    text-align: center; /*centre le texte*/
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05); /*rajoute une ombre*/
}

/*2 autres cartes mises en place*/
.wide-card {
    width: calc(50% - 25px);
}

/*illustration dans les cartes*/
.card-icon {
    font-size: 40px;
    color: #AEC6CF;
    margin-bottom: 15px;
    padding: 10px;
}

/*les titres dans les cartes*/
.quality-card h4 {
    font-size: 18px;
    font-weight: 700;
    color: #4A4A4A;
    margin-bottom: 10px;
}

/*texte dans les cartes*/
.quality-card p {
    font-size: 14px;
    color: #666;
    line-height: 1.5;
}


/*Langues*/
/*la meme structure que les qualites*/
.langues-liste {
    display: flex; /*structure les elements dans la page*/
    flex-wrap: wrap; /* Permet aux cartes de passer à la ligne */
    justify-content: center; /* Centre les cartes horizontalement */
    gap: 25px; /* Espace entre les cartes */
    padding: 20px 0;
}

.langue-item {
    background-color: #fff0f2;
    border: 2px solid #FFC3CB;
    border-radius: 10px;/*arrondis les cotes*/
    padding: 25px;
    width: calc(33.333% - 25px); /* 3 cartes par ligne sur grand écran */
    min-height: 200px; /* Hauteur minimale pour l'uniformité */
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

/*nom des langues*/
.langue-item h4 {
    font-size: 18px;
    font-weight: 700;
    color: #4A4A4A;
    margin-bottom: 10px;
}

/*texte explicatif*/
.langue-item p {
    font-size: 14px;
    color: #666;
    line-height: 1.5; /*interligne*/
}
 
/*les certificats a telecharger*/
.certifs-colonne {
    display: flex;
    flex-direction: column; /* Aligne les éléments en colonne */
    align-items: center;    /* Centre tout horizontalement */
    text-align: center;
    gap: 15px;              /* Espace entre chaque ligne */
    margin-top: 20px;
}

.certifs-colonne h4 {
    margin-top: 25px;       /* Ajoute un plus grand espace avant les titres */
    margin-bottom: 5px;     /* Rapproche le titre de son bouton */
}


/* 6. Experience */
/*division de la page en 2*/
.experience-grid {
    display: grid; /*le mode grille sur la page pour diviser en 2 colonnes*/
    grid-template-columns: 1fr 2fr; /*divise la page en 3, 1/3 pour noms, 2/3 descriptif*/
    gap: 30px; /*ecart entre les colonnes*/
    margin-top: 30px;
}

/*la liste des experiences a gauche*/
.experience-list { 
    display: flex;/*structure la page en colonnes*/
    flex-direction: column;
    gap: 15px; /*ecart entre les carreaux avec les informations*/
}

/* contient le style de chaque carte des lieux */
.exp-card {
    padding: 20px; /*espace interieur sur tous les cotes*/
    background: #fdfdfd;
    border-radius: 10px; /*arrondit les coins*/
    border: 1px solid #e0e0e0; /*rajoute le cadre*/
    cursor: pointer; /*change la souris au survol*/
    transition: all 0.3s ease; /*rajoute une animation souple */
    text-align: left; /* Alignement du contenu à gauche */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05); /*ombre des carreaux*/
    display: flex; /*structure de la page en colonnes*/
    flex-direction: column;
    align-items: flex-start; /* Aligne les éléments internes à gauche */
    position: relative; /*la carte devient une reference pour les elements dedans pour ne pas se deplacer*/
    overflow: hidden; /*coupe tout ce qui depasse*/
}

.exp-card:hover {
    transform: translateY(-2px); /*effet au survol, deplace de 2 px en haut*/
    border-color: #AEC6CF;
}

/*titres des noms*/
.exp-card h3 {
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 18px;
    color: #4A4A4A;
}

/*description dans la carte*/
.exp-card p {
    font-size: 14px;
    color: #666;
    margin-bottom: 10px;
}

/*style de la periode sur les cartes*/
.exp-card .annee {
    font-size: 13px;
    color: #87a1aa;
    font-weight: 600;
}

/*style des logo et photo sur les cartes*/
.exp-card img {
    width: 80px; /*definit la largeur*/
    height: auto; /*deforme pas la taille de l'image*/
    object-fit: cover; /* Assure que l'image couvre l'espace sans se déformer */
    border-radius: 5px; /*arrondit les cotes*/
    margin-bottom: 10px;
}

/* contenu a droite */
.experience-detail {
    background: #fdfdfd;
    padding: 30px;
    border-radius: 10px; /*coins arrondis*/
    border: 1px solid #FFDDE2; /* Bordure Rose autout de descrption*/
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05); /*ombre*/
}

.detail-content {
    display: none; /* Cache tous les contenus par défaut pour les ouvrir un apres autre*/
}

/* Toutes les cartes ouvertes une apres l'autre, et si exp-interfolk est coché, affiche content-interfolk */
#exp-interfolk:checked ~ .experience-grid .experience-detail #content-interfolk,
#exp-restoducoeur:checked ~ .experience-grid .experience-detail #content-restoducoeur,
#exp-boulots:checked ~ .experience-grid .experience-detail #content-boulots,
#exp-vente:checked ~ .experience-grid .experience-detail #content-vente,
#exp-trad:checked ~ .experience-grid .experience-detail #content-trad {
    display: block;/*structure en colonnes*/
    animation: fadeIn 0.5s ease-out;/*animation d'apparaition de la page*/
}

/*texte-description point par point de chaque question dans details*/
.experience-detail ul {
    margin-left: 0;
    line-height: 1.6; /*change interligne*/
    list-style-type: none; /*enleve les points standars*/
    padding-left: 0;
}

/*texte apres chaque question*/
.experience-detail ul li {
    padding-left: 1.5em; /*cree de l'espace*/
    position: relative; /*sert de repere pour les points*/
    margin-bottom: 5px;
    font-size: 16px;
    color: #4A4A4A;
}

.experience-detail ul li::before {
    content: "•"; /*la puce personnalisee*/
    color: #AEC6CF; /* Puces en Bleu */
    font-weight: bold; /*Rend puce epaisse*/
    display: inline-block; /*/* Permet de définir une largeur à la puce sans retour à la ligne */
    width: 15px; /*Réserve un espace fixe de 15px pour la puce*/
    margin-left: -15px; /*Aligne la puce à gauche, en dehors du bloc de texte*/
}

/* Masque les radios du HTML pour qu'ils soient invisibles */
input[type="radio"] {
    display: none;
}

/*images dans les descriptions (aligne a droite)*/
.floated-image {
    float: right; /* Place l'image à droite du contenu */
    max-width: 50%; /* L'image prend 40% de la largeur disponible */
    height: auto; /*hauteur est en fonction de la largeur*/
    margin-left: 20px; /* Espace entre l'image et le texte à gauche */
    margin-bottom: 10px; /* Espace sous l'image */
    border-radius: 8px; /*arrondit les coins*/
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /*rajoute une ombre*/
}

/*deuxieme type d'images dans le descriptif (aligne a gauche)*/
.floated-image2 {
    float: left; /* Place l'image à gauche du contenu */
    max-width: 100%; /* L'image prend 100% de la largeur disponible */
    height: auto; /*hauteur est en fonction de la largeur*/
    margin-right: 20px; /* Espace entre l'image et le texte à droite */
    margin-bottom: 10px; /* Espace sous l'image */
    border-radius: 8px; /*arrondis les cotes*/
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /*rajoute ombre*/
}

/* Style pour les labels (Titre:, Contexte:, Objectif:, etc.)*/
.exp-label {
    font-weight: bold; /* Rend le texte en gras */
    text-decoration: underline; /* Souligne le texte */
    color: #5e8d9e;
    margin-right: 5px; /*rajoute espace apres les ':'*/
}

/*rajoute une ligne rose en bas et change la police des titres en haut de la page*/
.experience-detail .exp-title {
    font-size: 28px;
    margin-top: 0;
    border-bottom: 2px solid #FFDDE2;
    padding-bottom: 5px;
    margin-bottom: 10px;
    font-weight: 600;
    color: #4A4A4A;
}

/*mise en page de paragraphe d'introduction*/
.experience-detail .contexte {
    font-family: 'Montserrat', sans-serif; 
    color: #667;
    font-size: 15px;
    margin-bottom: 20px;
}

/*derniere page de stage de traduction*/
/* Conteneur pour mettre deux photos a cote */
.livre-container {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin: 20px 0;
    width: 100%;
}

/* Style des pages individuelles */
.page-livre {
    width: 48%;
    height: auto;
    border-radius: 4px;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.2);
    transition: transform 0.3s ease;
}

/* zoom au survol */
.page-livre:hover {
    transform: scale(1.9);
}



/* 7. Projets*/
/*mise en place de la grille pour les projets*/
.projets-grille {
    display: grid; /*active le mode grille pour mettre en place les projets*/
    grid-template-columns: repeat(3, 1fr);  /*definit 3 colonnes de largeur 1fr (100%/3)*/
    gap: 25px; /*l'ecart entre les elements*/
    margin-top: 20px;
}

/*chaque carte correspondant a un projet*/
.projet-carte {
    background: white;
    padding: 20px;
    border-radius: 12px;
    text-align: center;
    border: 1px solid #eee;
    transition: 0.3s;
}

/*image de projet sur la carte*/
.projet-carte img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 15px;
}

/* L'arrière-plan noir transparent qui couvre tout l'écran */
.modal-arriere {
    display: none; /* Cache par défaut */
    position: fixed;/*la fenetre ne bouge pas tant qu'on la ferme pas*/
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8); /* Fond sombre pour faire ressortir la fenêtre */
    z-index: 200; /*la priorite de couvrir en premier*/
    backdrop-filter: blur(10px); /* Flou sur ton image de fond */
    justify-content: center; /*alinea sur les deux cotes*/
    align-items: center;
}

/* Affiche la fenêtre quand on clique sur le lien */
.modal-arriere:target {
    display: flex;
}

/* La fenêtre blanche qui s'ouvre au centre */
.modal-content {
    background: #ffffff;
    padding: 40px;
    border-radius: 20px; /*cotes arrondis de la fenetre*/
    width: 90%;
    max-width: 900px;/*largeur maximale de 900px*/
    position: relative; /*le repere par rapport a cette classe*/
    box-shadow: 0 20px 50px rgba(0,0,0,0.5); /*une ombre*/
    color: #4A4A4A; /*couleur de texte*/
}

/*les paragraphes dans la fenetre ouverte*/
.modal-content p{
    text-align: justify;
}

/*les images dans la fenetre ouverte*/
.modal-content img{
    object-fit: cover; /*coupe l'image pour remplir l'espace*/
    border-radius: 8px;
    margin-right: 13px;
    max-height: 320px;
}

/*bouton de fermeture*/
.close-modal {
    position: absolute; /*la croix est fixee par rapport aux bords*/
    top: 15px; /*distance par rapport au haut*/
    right: 20px;/*distance par rapport a la droite*/
    font-size: 35px;
    text-decoration: none; /*enleve le soulignement de lien*/
    color: #AEC6CF; /* couleur de la croix bleu pastel */
}

.close-modal:hover {
    color: #FFC3CB; /* Passage au rose au survol */
}

/* Style des titres bleus comme dans Expériences */
.modal-content .exp-label {
    font-weight: bold;
    color: #5e8d9e;
}

.modal-content video {
    display: block; /* Transforme la vidéo en bloc pour qu'elle accepte les marges auto */
    margin-left: auto; /* Pousse à gauche */
    margin-right: auto; /* Pousse à droite et la vidéo se retrouve au milieu */
    border-radius: 8px;
}

/* Style du bouton "Voir le projet" */
.bouton-projet {
    display: inline-block; /*structure de la page pour rester sur la ligne*/
    padding: 10px 20px;
    background: linear-gradient(45deg, #AEC6CF, #97b5be); /* fond bleu en degrade */
    color: white; /*couleur de texte*/
    text-decoration: none; /*enleve les soulignements*/
    border-radius: 25px; /*arrondis les cotes*/
    font-weight: bold;
    margin-top: 15px;
    transition: all 0.3s ease; /*rajoute une animation au survol*/
    cursor: pointer; /*change la souris*/
    box-shadow: 0 4px 6px rgba(0,0,0,0.1); /*rajoute une ombre*/
}

.bouton-projet:hover {
    background: #FFC3CB; /* Rose pastel au survol */
    transform: translateY(-2px); /*le bouton monte de 2 px en survol*/
    box-shadow: 0 6px 12px rgba(0,0,0,0.15); /*son ombre devient plus grand*/
}

/*Phtos dans le projet Portfolio*/
.container-images {
    display: flex;
    justify-content: center;/* Centre les deux photos horizontalement */
    gap: 20px;  /* Ajoute un espace entre les deux photos */
    align-items: center; /* Aligne les photos verticalement si elles n'ont pas la même hauteur */
}

/* stylysation des images pour qu'elles gardent la même taille */
.code img {
    max-width: 420px; /*limite la lageur*/
    width: 100%;  /* Force l'image à prendre la largeur de son parent .code */
    display: block;
    border-radius: 8px; /* arrondis les coins */
}



/* 8. Centres d'interet*/
.hobby-liste {
    display: flex;
    flex-wrap: wrap; /* Permet aux cartes de passer à la ligne */
    justify-content: center; /* Centre les cartes horizontalement */
    gap: 25px; /* Espace entre les cartes */
    padding: 20px 0;
}

.hobby-item {
    background-color: #dde8eb; /* Fond très légèrement bleuté */
    border: 2px solid  #759ca8; /* Bordure Bleu Pastel */
    border-radius: 10px; /*arrondis les cotes*/
    padding: 25px;
    width: calc(50% - 37px); /* 3 cartes par ligne */
    min-height: 200px; /* Hauteur minimale pour de la carte */
    display: flex; /*structure de la page en flex*/
    flex-direction: column;
    align-items: center; /*alignement des elements*/
    text-align: center;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05); /*ombre*/
}

/*titre de hobby*/
.hobby-item h4 {
    font-size: 20px;
    font-weight: 700;
    color: #4A4A4A;
    margin-bottom: 10px;
}

/*description de la carte*/
.hobby-item p {
    font-size: 14px;
    color: #667;
    line-height: 1.5;
}

/*Boutons pour les cartes*/
.bouton-interet {
    display: inline-block;
    padding: 10px 20px;
    background: linear-gradient(45deg, #AEC6CF, #97b5be); /* Ton bleu pastel */
    color: white;
    text-decoration: none;
    border-radius: 25px;
    font-weight: bold;
    margin-top: 15px;
    transition: all 0.3s ease;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.bouton-interet:hover {
    background: #FFC3CB; /* Rose pastel au survol */
    transform: translateY(-2px);
    box-shadow: 0 6px 12px rgba(0,0,0,0.15);
    color: white;
}

/*couleurs de nom de centre d'interet*/
.titre-loisir{
    color: #AEC6CF;
}

/*Page Musique*/
/* bouton radio caches */
input[name="music-page"] {
    display: none;
}

/* Conteneur principal */
.pagination-container {
    position: relative;
    overflow: hidden; /* Empêche le contenu de déborder */
    width: 100%;
    min-height: 300px;
}

/* Gestion de l'affichage des pages */
.music-page {
    display: none; /* Toutes les pages sont masquées au départ */
}

/* Affiche la page correspondante au bouton radio coché */
#page1:checked ~ .pages-wrapper #p1,
#page2:checked ~ .pages-wrapper #p2,
#page3:checked ~ .pages-wrapper #p3,
#page4:checked ~ .pages-wrapper #p4 {
    display: block; /*la page devient visible*/
}

/* Style des flèches/boutons de navigation dans la fenetre*/
.nav-arrows {
    display: flex;
    justify-content: space-between; /*place un bouton a gauch et un autre a droite*/
    padding: 10px 0;
}

.nav-arrows label {
    background: #AEC6CF;
    color: white;
    padding: 8px 15px;
    border-radius: 20px; /*cotes arrondis*/
    cursor: pointer; /*change le curseur*/
    font-size: 14px;
}

.nav-arrows label:hover {
    background: #FFDDE2; /* couleur rose corail au survol */
    color: #4A4A4A;
}

/* Aligne le bouton "Suivant" à droite s'il est seul sur la page 1 */
#p1 .nav-arrows {
    justify-content: flex-end;
}

#p4 .nav-arrows {
    justify-content: flex-start; /* Le bouton "Précédent" reste à gauche sur la page 4*/
}



/*9.  CV*/
.download-btn {
    display: inline-block; /*elements restent sur la meme ligne*/
    background: linear-gradient(45deg, #AEC6CF, #97b5be); 
    color: #4A4A4A;
    padding: 12px 25px;
    border-radius: 8px; /*coins arrondis*/
    text-decoration: none; /*enleve le soulignement de texte*/
    font-weight: 600;
    margin-top: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /*ombre*/
    transition: all 0.3s ease; /*animation au survol*/
}

.download-btn:hover {
    background: linear-gradient(45deg, #97b5be, #AEC6CF); /*on change les sens de couleurs d'avant*/
    transform: translateY(-3px) scale(1.03); /*animation au survol*/
    color: #2c2c2c;
}



/* 10. Contact */
/*texte dans l'onglet*/
.contact-panel p {
    font-size: 17px;
    margin-bottom: 10px;
}

/*style des illustrations*/
.contact-panel strong i {
    color: #AEC6CF;
    margin-right: 8px;
}

/*reseaux sociaux*/
.social-links {
    margin-top: 5px;
    display: flex;
    align-items: center;
    gap: 20px;
}

/*style des liens*/
.social-links a {
    font-size: 30px; /* Taille des icônes */
    color: #AEC6CF;  /* couleur bleu pastel */
    transition: transform 0.3s ease, color 0.3s ease; /*preparation de l'animation au survol*/
}

.social-links a:hover {
    color: #FFC3CB;  /* couleur rose pastel au survol */
    transform: translateY(-5px); /* animation au survol pour bouger les icones vers le haut */
}

/*alignement de texte*/
.social-links p {
    margin-bottom: 0; /* Aligne le texte avec les icônes */
}



/* 11. footer*/
footer p{
    margin-bottom: 20px; /*rajoute une marge entre le texte et le bas de la page*/
}

footer img{
    width: 45px; /* Taille du logo */
    height: auto; /*garde les proportions de l'image*/
    
}

footer {
    display: flex;
    flex-direction: column; /* Aligne le logo et le texte l'un au-dessus de l'autre */
    align-items: center;    /* Centre horizontalement tous les éléments */
}