*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url(back.jfif);
    background-size: cover;
}
main{
    margin-left: 150px;
    margin-right: 150px;
    padding: 30px;
    background-color: rgba(255, 255, 255, 0.7)
}
.mainText{
    font-size: 20px;
}
.header{
    color: blue;
}
h1{
    font-size: 40px;
}
h2{
    font-size: 30px;;
}
.grid{
    width: 1800px;
    height: 1168px;
    display: wrap;
    flex-wrap: wrap;
    background-color: white;
    border: solid 3px black;
    margin: 10px;
}
